body {
  height: 5000px;
}
.left {
  width: 20%;
  background-color: purple;
}
.right {
  width: 80%;
  background-color: black;
}
.relative {
  background-color: lightblue;
  height: 250px;
  padding: 50px;
  margin: 10px;
  display: flex;
  position: relative;
}
.absolute {
  height: 150px;
  width: 150px;
  background-color: pink;
  color: magenta;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(40deg);
}
.fixed {
  height: 200px;
  width: 200px;
  background-color: green;
  position: fixed;
  bottom: 0;
  left: 16;
}
